[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django-countries = "*"
psycopg2-binary = "*"
django-seed = "==0.2.2"
django-dotenv = "*"
django = "==2.2.5"
requests = "*"

[dev-packages]
awsebcli = "*"

[requires]
python_version = "3.9"
